<table class="table is-fullwidth">
  <thead>
    <th>Value of Job</th>
    <th>Job Category</th>
    <th>User</th>
    <th>Employee</th>
    <th>Image</th>
  </thead>
  <tbody>
    {{#each whereabouts}}
      <tr>
        <td>{{jobvalue}}</td>
        <td>{{jobcategory}}</td>
        <td> {{user.firstName}} {{user.lastName}} </td>
        <td>{{employee.lastName}}, {{employee.firstName}}</td>
        <td>{{> playlist-image }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<div class="box">
  <div class="title is-5"> Total:  {{total}} </div>
</div>
